<section *ngIf="!isAuth && isTimeoutPassed" class="bg-eblack">
  <div class="flex items-center justify-center h-screen">
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mx-auto bg-bone2 py-5 px-10 rounded-md">
      <form class="flex flex-col">
        <h1 class="text-black pt-10 text-4xl text-center font-bold">Bitgenios</h1>
        <h2 class="text-black text-2xl text-center font-light italic">Registro y control de personal medico</h2>
        <div class="p-5 mx-auto flex flex-col w-full">
          <label class="font-bold text-xl" for="authCode">Codigo de confirmacion.</label>
          <input class="border-2 border-eblack rounded-md p-2 mt-2 focus:outline-none focus:border-orangeHover focus:text-orangeHover" type="text" placeholder="Codigo de confirmación" [(ngModel)]="authenticateUser.authCode" name="authCode" id="authCode" required>
        </div>
        <div class="p-5 mx-auto flex flex-col w-full">
          <button class="bg-orange hover:bg-orangeHover hover:text-white text-lg p-2 rounded-md " (click)="authenticateUserFun()" >Enviar codigo</button>
          <p class="text-red-700 text-sm" *ngIf=""></p>
        </div>
      </form>
    </div>
  </div>
</section>
<main class="flex flex-row" *ngIf="isAuth && isTimeoutPassed">
  <p>Usuario autenticado</p>
</main>

