<table class="min-w-full border-collapse border border-gray-300 my-10">
  <thead class="bg-gray-200">
    <tr>
      <th class="border border-gray-300 px-4 py-2 text-left">Nombre</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Numero</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Editar</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let number of paginatedData" class="even:bg-gray-50">
      <td class="border border-gray-300 px-4 py-2">{{ number.nombre }}</td>
      <td class="border border-gray-300 px-4 py-2">{{ number.numero }}</td>
      <td class="border border-gray-300 px-4 py-2 text-center group hover:bg-gray-100 hover:cursor-pointer"
        (click)="editModal(number)">
        <button class="flex items-center mx-auto justify-center">
          <mat-icon class="group-hover:text-orange">edit</mat-icon>
        </button>
      </td>
      <td class="border border-gray-300 px-4 py-2 text-center group hover:bg-gray-100 hover:cursor-pointer"
        (click)="deleteModal(number)">
        <button class="flex items-center mx-auto justify-center">
          <mat-icon class="group-hover:text-red-700">delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="flex justify-end items-center mt-4">
  <button class="flex align-middle px-4 py-2 bg-gray-200 rounded hover:bg-gray-300" (click)="prevPage()"
    [disabled]="currentPage === 1">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <div class="px-2">Página {{ currentPage }} de {{ totalPages }}</div>
  <button class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 align-middle flex" (click)="nextPage()"
    [disabled]="currentPage === totalPages">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
