<div class="flex flex-row justify-between w-full items-center mx-auto">
  <h2 class="text-2xl select-none">
    <b routerLink="/dashboard" class="hover:cursor-pointer">Dashboard</b> /
    <strong class="text-orange">Usuarios</strong>
  </h2>
  <div
    class="flex items-center py-2 px-4 bg-orange rounded-md justify-between hover:cursor-pointer hover:duration-[350ms] hover:bg-orangeHover"
    (click)="modal=!modal">
    <mat-icon class="text-white">add</mat-icon>
    <p class="text-xl text-white w-[88.5%] ml-2">Agregar</p>
  </div>
</div>

<!-- Modal -->
<div *ngIf="modal" class="z-50 fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="w-full max-w-lg bg-bone p-6 rounded-lg shadow-lg">
    <div class="flex-col">
      <div class="grid grid-rows-4 md:grid-rows-2 grid-flow-col gap-4">
        <div class=" py-3 mx-auto flex flex-col w-full">
          <label class="font-bold text-xl" for="email">Correo electronico</label>
          <input class="border-2 border-eblack rounded-md p-2 mt-2 focus:outline-none focus:border-orangeHover" type="email" placeholder="email@bitgenios.com" [(ngModel)]="user.email" name="email" id="email" required>
        </div>

        <div class=" py-3 mx-auto flex flex-col w-full">
          <label class="font-bold text-xl" for="role">Rol</label>
          <select class="border-2 border-eblack rounded-md p-2 mt-2 focus:outline-none focus:border-orangeHover" [(ngModel)]="user.rol" name="role" id="role" required>
            <option value="" disabled selected>Selecciona un rol</option>
            <option value="admin">Administrador</option>
            <option value="leader">Lider</option>
            <option value="user">Personal de la salud</option>
            <option value="root">Root</option>
          </select>
        </div>
      </div>
      <div class="flex flex-col justify-end">
        <div class="flex flex-row-reverse justify-start">
          <button type="button" (click)="register()" class="px-2 py-1 rounded-md border-2 bg-orange text-white text-xl ml-2 duration-300 hover:bg-orangeHover">Continuar</button>
          <button type="button" (click)="modal=!modal" class="px-2 py-1 rounded-md border-2 border-red-700 duration-300 hover:bg-red-100 text-xl text-red-700 ">Cancelar</button>
        </div>
        <p class="text-red-700 text-sm" *ngIf="errGeneral">{{errMessage}}</p>
        <p class="text-red-700 text-sm" *ngIf="success">{{succMessage}}</p>
      </div>
    </div>
  </div>
</div>
